# vim files
*.swp
*.un
*.*un

# idea files
.idea/

# node
node_modules/

# compilations [webpack + ts]
www/dist/compile-js/*.*
dist/

# fontello-cli
**/.fontello-session
.fontello-session
www/dist/fontello-icons/css/
www/dist/fontello-icons/font/

# third-party-licesnes.txt generated automatically
www/third-party-licenses.txt