# vim files
*.swp
*.un
*.*un

# idea files
.idea/

# node
node_modules/

# compilation
www/dist/compile-js/*.*

# fontello-cli
**/.fontello-session
.fontello-session
www/dist/fontello-icons/css/
www/dist/fontello-icons/font/